.admin-page{
    margin: 35px 0;
    padding:0 15px; 
}
.admin-page h2{
    padding: 15px 0;
}
.tarif-plan{
    position: absolute;
    left: 20%;
    top: 11px;
    font-size: 14px;
}
.tarif-plan-td{
    position: relative;
}