<div class="forgot-password text-center">
  <form class="example-form" [formGroup]="changePass" 
  (ngSubmit)="onChangePassword(changePass)">
    <mat-form-field class="example-full-width">
      <input matInput email="true" formControlName="email" placeholder="Էլ․ Փոստ" type="email" required>
    </mat-form-field>
    <p class="error" *ngIf="erroLogin">Սխալ Էլ․ Փոստ</p>
    <p class="send" *ngIf="showField">Նամակը ուղարկվել է վերը նշված Էլ․Փոստին</p>
    <button mat-button color="primary" class="btn btn-success">Ուղարկել</button>
  </form>
</div>