.forgot-password{
    width: 350px;
    height: 125px;
    text-align: center;
}
.forgot-password form mat-form-field{
    width: 100%;
    font-size: 16px;
}
.forgot-password button{
    font-size: 14px;
    color: #fff;
    padding: 0 35px;
} 
.error{
   font-size: 17px;
   text-align: center;
   color: red;
}
.send{
    font-size: 11px;
    color: green;
}