<div class="charts">
  <div class="container">
    <div class="row">
      <h2>Գծապատկերներ (վերջին 70 օրերի վերլուծությունների սեգմենտացիա)</h2>
      <mat-toolbar>
        <mat-toolbar-row class="well segment" fxLayout="row">
          <div fxFlex="30">
            <h3>ԺԱՄԱՆՑ</h3>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked="checked"> РЕСТОРАН АЙВЕНГО
              </label>
            </div>
          </div>
          <div fxFlex="70">
            <h3>ԴԻԱԳՐՄԱՆ ՁԵՎԱՉԱՓ</h3>
            <mat-radio-group>
              <mat-radio-button checked value="1">3D</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="￼statistics-reviews text-center">
          <div class="panel"></div>
        <div class="dynamics-number" fxFlex="100">
          <h5>Վիճակագրություններ ըստ վերանայման</h5>
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>