<div class="change-password">
  <div class="container">
    <div class="row">
      <form class="example-form" [formGroup]="confirmPass" (ngSubmit)="confPass(confirmPass)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" type="password" 
          placeholder="New Password" formControlName="pwd" password="true" 
          name="pwd" required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" type="password" 
          placeholder="Confirm Password" formControlName="pwdconf" password="true" required>
        </mat-form-field>
        <p class="error" *ngIf="erroLogin">Սխալ գաղտնաբառ</p>
        <button mat-button class="btn btn-primary">Primary</button>
      </form>
    </div>
  </div>
</div>
