<mat-toolbar color="primary" class="header">
  <div class="container">
    <div class="row">
      <a routerLink="/">
        <img src="assets/logo-direct.png" alt="">
      </a>
      <div class="header_bottom">
        <a routerLink="login">Մուտք</a>
        <a routerLink="client">Կաբինետ</a>
        <a routerLink="charts">Գրաֆիկա</a>
        <a routerLink="profile">Պրոֆիլ</a>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>


<div class="footer" fxLayout="column" fxLayoutWrap="wrap">
  <div class="container">
    <div class="row">

      <div class="left-row" fxLayout="column" fxLayoutAlign="left" fxFlex="70" fxFlex.xs="100">
        <div fxFlex="100">
          <a routerLink="/" fxFlex="17" fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="20">
            <img src="assets/logo-direct.png" alt="">
          </a>
          <p class="wrap-p" fxFlex="83" fxFlex.md="80" fxFlex.sm="70" fxFlex.xs="100">Մենք անկեղծորեն հավատում ենք, որ հաճախորդների ուղղված բիզնեսը մեր մոտ ապագան է:</p>
        </div>
  
        <div class="copy" fxLayoutAlign="center" fxFlex="100">
  
            <mat-list fxFlex="100">
              <mat-list-item>
                <h3 matLine> Home </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
            </mat-list>
            <mat-list fxFlex="100">
              <mat-list-item>
                <h3 matLine> Home </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
            </mat-list>
            <mat-list fxFlex="100">
              <mat-list-item>
                <h3 matLine> Home </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
            </mat-list>
            <mat-list fxFlex="100">
              <mat-list-item>
                <h3 matLine> Home </h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
              <mat-list-item>
                <h3 matLine>Function</h3>
              </mat-list-item>
            </mat-list>
  
          </div>
      </div>
    <div class="right-row" fxLayout="column" fxLayoutAlign="center" fxFlex="30" fxFlex.xs="100">
      <div class="twt_block" >
        <div class="twt">
          <a class="twitter-timeline" href="https://twitter.com/gevorjan77">Tweets by TwitterDev</a>
        </div>
        <div class="email_footer">
          <p>Բաժանորդագրվեք մեր նորություններին եւ պահեք մեր ընկերության մասին վերջին լուրերը:</p>
          <form class="example-form footer_btn">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Մուտքագրեք ձեր փոստը" class="form-control" type="email"> 
            </mat-form-field>
            <button mat-button class="btn btn-success">Բաժանորդագրվեք</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>