<mat-toolbar color="primary" class="header">
  <div class="container">
    <div class="row">
      <a *ngIf="isLoggedIn && userId == 1" routerLink="/admin">
        <img src="assets/logos.png" alt="">
      </a>
      <a *ngIf="isLoggedIn && userId != 1" routerLink="/cabinet">
        <img src="assets/logos.png" alt="">
      </a>
      <a *ngIf="!isLoggedIn" routerLink="/">
        <img src="assets/logos.png" alt="">
      </a>

      <div class="header_bottom">
        <button *ngIf="!isLoggedIn" mat-button (click)="openDialog()">Վերականգնել Գաղտնաբառը</button>
        <a *ngIf="!isLoggedIn" routerLink="">Մուտք</a>
        <a *ngIf="isLoggedIn && userId != 1" routerLink="cabinet">Կաբինետ</a>
        <a *ngIf="isLoggedIn && userId != 1" routerLink="charts">Գրաֆիկա</a>
        <a *ngIf="isLoggedIn && userId != 1" routerLink="profile">Պրոֆիլ</a>
        <a *ngIf="isLoggedIn && userId == 1" routerLink="admin">Admin</a>
        <a *ngIf="isLoggedIn" (click)="logout()" routerLink="">Ելք</a>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option value="option1">English</mat-option>
            <mat-option value="option2">Հայերեն</mat-option>
            <mat-option value="option3">Русский</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="header_bottom-toggle-islogin" *ngIf="isLoggedIn && userId == 1">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a *ngIf="isLoggedIn && userId == 1" routerLink="admin">Admin</a>
          </button>
          <button mat-menu-item>
            <a *ngIf="isLoggedIn" (click)="logout()" routerLink="">Ելք</a>
          </button>
        </mat-menu>
      </div>

      <div class="header_bottom-toggle-islogin" *ngIf="isLoggedIn && userId != 1">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a *ngIf="isLoggedIn && userId != 1" routerLink="cabinet">Կաբինետ</a>
          </button>
          <button mat-menu-item>
            <a *ngIf="isLoggedIn && userId != 1" routerLink="charts">Գրաֆիկա</a>
          </button>
          <button mat-menu-item>
            <a *ngIf="isLoggedIn && userId != 1" routerLink="profile">Պրոֆիլ</a>
          </button>
          <button mat-menu-item>
            <a *ngIf="isLoggedIn" (click)="logout()" routerLink="">Ելք</a>
          </button>
        </mat-menu>
      </div>

      <div class="header_bottom-toggle" *ngIf="!isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <button *ngIf="!isLoggedIn" mat-button (click)="openDialog()">Վերականգնել Գաղտնաբառը</button>
          </button>
          <button mat-menu-item>
            <a *ngIf="!isLoggedIn" routerLink="">Մուտք</a>
          </button>
          <button mat-menu-item>
            <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option value="option1">English</mat-option>
                <mat-option value="option2">Հայերեն</mat-option>
                <mat-option value="option3">Русский</mat-option>
              </mat-select>
            </mat-form-field>
          </button>
        </mat-menu>
      </div>

    </div>
  </div>
</mat-toolbar>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>


<div class="footer" fxLayout="column" fxLayoutWrap="wrap">
  <div class="container">
    <div class="row">

      <div class="left-row" fxLayout="column" fxLayoutAlign="left" fxFlex="70" fxFlex.xs="100" fxFlex.sm="100">
        <div fxFlex="100">

          <div fxFlex="100" class="wrap-p footer-pages">
            <a routerLink="">Գլխավոր</a>
            <a href="http://directcontact.am/en/directors/">Տնօրենին</a>
            <a href="http://directcontact.am/en/customers/">Հաճախորդին</a>
            <a href="http://directcontact.am/en/about-us/">Մեր Մասին</a>
            <a href="http://directcontact.am/client/">Գրասենյակ</a>
          </div>
        </div>
      </div>
      <div class="right-row" fxLayout="column" fxLayoutAlign="center" fxFlex="30" fxFlex.xs="100" fxFlex.sm="100">
        <div class="twt_block">
          <div class="fb">
            <fb-page href="https://www.facebook.com/directcontact.am/"></fb-page>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>