.header{
  background: #232d35;
}
.header img{
  width: 120px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding-right: 10px;
  margin-right: 7px;
}
.header a{
  color: #fff;
  margin-right: 25px;
  text-decoration: none; 
}
.header .header_bottom{
  width: 69%;
  text-align: right;
}
.right-row .email_footer p{
  color: #fff;
  margin-top: 18px;
}
.right-row .email_footer form input:focus{
  background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.25) !important;
}
.left-row .wrap-p{
  color: #fff;
}

.content-wrapper{
  min-height: 650px;
}
.footer .copy{
  height: auto;
  width: 100%;
  margin-bottom: 35px;
}
.twt{
  height: 200px;
  overflow-y: scroll;
}
.twt_block{
  height: initial;
  margin-bottom: 25px;
}
.footer_btn input{
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.25);
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}
.footer_btn mat-form-field ::ng-deep .mat-form-field-label-wrapper label{
  top: 19px;
  color: #666;
  padding-left: 5px;
  font-size: 12px;
}
.footer{
  padding: 23px 0;
  background:#232d35;
  height: initial;
}
.footer h3{
  color: #fff;
}
.footer img{
  filter: brightness(0) invert(1);
  width: 120px;
  border-right: 1px dotted #fff;
  padding-right: 10px;
  margin-right: 7px;
}

.footer p{
  font-size: 14px;
  float: right;
}
.footer-pages{
  margin: 25px 0;
}
.footer-pages a{
  color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  font-size: 14px;
}
@media only screen and (max-width: 992px) {
  .content-wrapper{
    height: initial;
  }
}
@media only screen and (max-width: 559px) {
  .right-row{
    padding: 10px 25px; 
  }
}