.header{
  background: #232d35;
}
.header img{
  padding-right: 10px;
  margin-right: 7px;
  margin-top: 12px;
  width: 88px;
}
.header a{
  color: #fff;
  margin-right: 25px;
  text-decoration: none; 
}
.header .header_bottom{
  width: 69%;
  text-align: right;
}
.right-row .email_footer p{
  color: #fff;
  margin-top: 18px;
}
.right-row .email_footer form input:focus{
  background-color: rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.25) !important;
}
.content-wrapper{
  min-height: 650px;
}
.footer .copy{
  height: auto;
  width: 100%;
  margin-bottom: 35px;
}
.twt{
  height: 200px;
  overflow-y: scroll;
}
.twt_block{
  height: initial;
  margin-bottom: 25px;
}
.footer_btn input{
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.25);
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}
.footer_btn mat-form-field ::ng-deep .mat-form-field-label-wrapper label{
  top: 19px;
  color: #666;
  padding-left: 5px;
  font-size: 12px;
}
.footer{
  padding: 23px 0;
  height: initial;
  background-color: #4d4d4d;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.footer h3{
  color: #fff;
}
.footer img{
  filter: brightness(0) invert(1);
  width: 120px;
  border-right: 1px dotted #fff;
  padding-right: 10px;
  margin-right: 7px;
}

.footer p{
  font-size: 14px;
  float: right;
}
.footer-pages{
  margin: 25px 0;
}
.footer-pages a{
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  font-size: 14px;
}
.header_bottom-toggle{
  display: none;
}
.header_bottom-toggle-islogin{
  display: none;
}
@media only screen and (max-width: 992px) {
  .content-wrapper{
    height: initial;
  }
}
@media only screen and (max-width: 768px) {
  .header_bottom{
    display: none;
  }
  .header_bottom-toggle-islogin,
  .header_bottom-toggle{
    display: block;
    width: 69%;
    text-align: right;  
  }
  ::ng-deep .mat-menu-content{
    background: #4d4d4d;
  }
  ::ng-deep .mat-menu-content .mat-menu-item a{
    text-align: center;
    display: block;
    color: #fff;
  }
}
@media only screen and (max-width: 559px) {
  .right-row{
    padding: 10px 25px; 
  }
}
@media only screen and (max-width: 414px) {
  .header_bottom-toggle-islogin,
  .header_bottom-toggle{
    width: initial; 
  }
}
@media only screen and (max-width: 375px) {
  .fb{
    overflow: hidden;
  }
}