.profile-blog  li{
    list-style: none;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 15px 0 15px 15px;
}
.profile-blog .profile-share li{
    padding: 15px 0 15px 15px;
}
.profile-blog form{
    width: 100%;
}
.profile-blog .profile-share{
    padding-left: 0;
}
.profile-blog h4{
    font-size: 18px;
}
.profile-blog  li p{
    margin-bottom: 0;
}
.profile-blog .company-name p{
    margin-top: 19px;
    font-size: 14px;
}
.profile-blog .change-password{
    margin-bottom: 25px;
}
.profile-blog .change-password ::ng-deep .mat-form-field-label-wrapper label,
.profile-blog .company-name ::ng-deep .mat-form-field-label-wrapper label{
    font-size: 12px;
    top: 0;
}
.profile-blog .change-password p{
    margin-top: 19px;
    font-size: 14px;
}
.choose-institution mat-select ::ng-deep .mat-select-trigger{
    font-size: 16px;
}
.tariff-plan{
    padding-left: 0;
}
/* .button-bottom{
    display: inline-block;
    margin-left: 30px;
} */
.button-bottom button{
    padding: 0 35px;
    font-size:16px; 
    margin-top: 15px;
}
.profile-blog .tariff-plan li:nth-child(odd),
.profile-blog .profile-share li:nth-child(odd) {
    background: #f9f9f9;    
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    margin-bottom: -1px;
    vertical-align: top;
}
.profile-blog{
    padding: 80px 0;
}
.profile-blog h2{
    border-bottom: 2px solid #34495e;
    padding-bottom: 17px;
    width: 100%;
    margin-bottom: 40px;
  }
.profile-blog ::ng-deep .mat-tab-header{
    margin-bottom: 25px;
}
.profile-blog .managment{
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.profile-blog .managment-institutions{
    padding-left: 0;
}
.profile-blog .managment-institutions li p{
    margin-bottom:0; 
}
.profile-blog .balance p{
    font-size: 24px;
    line-height: 1.8;
}
.profile-blog .choose-institution span,
.profile-blog .notifications span{
    margin-top: 15px;
    font-size: 14px;
}
.profile-blog .choose-institution,
.profile-blog .notifications{
    margin-top: 15px;
}
.profile-blog .notifications p{
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 17px;
}
.profile-blog mat-tab-group ::ng-deep .mat-tab-body-wrapper .mat-tab-body-content{
    overflow: hidden;
}
.error{
    font-size: 17px;
    text-align: center;
    color: red;
  }
@media only screen and (max-width: 599px) {
    .notifications > div,
    .profile-blog .tariff-plan li,
    .profile-blog .managment-institutions li,
    .profile-blog .profile-share li{
        display: block !important;
    }
}