.client_messages{
    background:#fff;
    margin-bottom: 25px;
    height: initial;
    padding:8px; 
  }
  .client_messages span{
    display: block;
  }
  .client_messages span,
.client_messages span mat-icon{
  font-size: 12px;
}
.client_messages mat-toolbar-row{
    display: block;
    height: initial;
  }
  .client_margine{
    margin: 25px 0;
    border: 1px solid #ddd;
  }
  span.glyphicon-heart,
span.glyphicon-info-sign{
  color:#31708f;
}
span.glyphicon-remove-sign{
    color:#a94442;
  }
  span.glyphicon--ok-sign{
    color:#3c763d;
  }
.border_left{
    border-left: 1px dotted #ddd;
    padding-left: 15px;
  }
  .chat-message-caret{
    height: 26px;
    width: 10px;
  }
  .client_account p{
    font-size: 14px;
  }
  mat-select.nolabel{
    background-image:url('../../../../assets/aterosolutions.png');
    width: 40px;
    height: 33px;
    background-repeat: no-repeat;
  }
  mat-select.yourquestion{
    background-image:url('../../../../assets/aterosolutions.png');
    width: 40px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: -60px;
  }
  mat-select.thecomplaint{
    background-image:url('../../../../assets/aterosolutions.png');
    width: 40px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: -122px;
  }
  mat-select.thankyou{
    background-image:url('../../../../assets/aterosolutions.png');
    width: 40px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: -184px;
  }
  mat-select.supply{
    background-image:url('../../../../assets/aterosolutions.png');
    width: 40px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: -244px;
  }
  
  mat-select .mat-form-field-infix{
      width: initial;
  }
.client_wrap .client_span mat-form-field mat-select ::ng-deep .mat-select-value{
    display: none;
} 
.client_wrap .client_span mat-form-field mat-select ::ng-deep .mat-select-trigger{
    margin: 8px 35px;
}

  /* .client_wrap span.client_span span{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .client_wrap span.client_span span{
    font-size: 20px;
    display: inline-block;
    border-right: none;
  } */
  /* .client_wrap span.client_span span{
    font-size: 35px !important;
    display: inline-block !important;
  } */
.client_wrap .client_span mat-form-field{
    width: 100%;
    padding-right: 7px;
}
  .client_wrap{
    margin: 15px 0;
    padding:7px 0; 
  }
  .client_grey{
    border: 1px solid #ddd;
  }
  span.glyphicon-question-sign{
    color: #8a6d3b;
  }
  .margin-bottom-15{
    margin-right: 15px;
  }