<mat-toolbar *ngIf="toDisplay" ngClass="client_margine client_account client_messages">
  <mat-toolbar-row>
    <div class="container">
      <div class="row" fxLayout.xs="column" fxLayout.sm="column">
        <div class="col-md-3">
          <div class="text-left">
            <span>
              <mat-icon>mail</mat-icon>Դիմում {{profiles.company_code}}</span>
            <span>
              <mat-icon>map</mat-icon>{{profiles.company_name}}</span>
          </div>
        </div>
        <div class="col-md-9">
          <app-submessage [message]="msg" *ngFor="let msg of displayMessages"></app-submessage>          
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>