.client_messages{
  background:#fff;
  margin-bottom: 25px;
  height: initial;
  padding:8px; 
}
.client_messages span{
  display: block;
}
.client_messages span,
.client_messages span mat-icon{
  font-size: 12px;
}
.client_messages mat-toolbar-row{
  display: block;
  height: initial;
}
.client_margine{
  margin: 25px 0;
  border: 1px solid #ddd;
}
.chat-message-caret{
  height: 26px;
  width: 10px;
}

