<mat-toolbar  ngClass="client_margine client_account client_messages" >
  <mat-toolbar-row>
    <div class="container">
      <div class="row" fxLayout.xs="column" fxLayout.sm="column">
        <div class="text-left" fxFlex="17">
          <span>
            <mat-icon>mail</mat-icon>Դիմում 5067</span>
          <span>
            <mat-icon>map</mat-icon> Ресторан Айвенго</span>
        </div>
        <div class="client_wrap" fxFlex="83">
          <div class="alert alert-grey client_grey" fxLayout="row">
            <div fxFlex="9" fxFlex.xs="100">
              <div class="client_span">

                <mat-form-field>
                  <mat-select [(value)]="selected"
                   class="nolabel" [ngClass]="selected" [formControl]="panelColor"
                    panelClass="example-panel">
                    <mat-option value="nolabel">
                      <span class="glyphicon glyphicon-question-sign"></span>
                      Ոչ պիտակ
                    </mat-option>
                    <mat-option value="yourquestion">
                      <span ngClass="glyphicon glyphicon-remove-sign"></span>
                      Ձեր հարցը
                    </mat-option>
                    <mat-option value="thecomplaint">
                      <span ngClass="glyphicon glyphicon-ok-sign"></span>
                      Բողոքը
                    </mat-option>
                    <mat-option value="thankyou">
                      <span class="glyphicon glyphicon-heart"></span>
                      Շնորհակալություն
                    </mat-option>
                    <mat-option value="supply">
                      <span class="glyphicon glyphicon-info-sign"></span>
                      Առաջարկ
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="border_left" fxFlex="91" fxFlex.xs="100">
              test
            </div>
          </div>
          <div class="row">
            <div class="" fxFlex="95" fxFlexOffset="5">
              <div class="alert alert-warning margin-bottom-15">
                1245
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
